/* Estilos del Navbar */
.navbar {
  background-color: #e5652d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.navbar-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Permite que los enlaces se envuelvan */
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Estilos de la página Acerca de Nosotros */
.about-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 30px;
}

.about-container h1 {
  text-align: center;
  color: #e5652d;
  margin-bottom: 40px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #e5652d;
  margin-bottom: 10px;
  text-align: center;
}

section p {
  font-size: 18px;
  color: black;
  line-height: 1.6;
  text-align: center;
}

.team {
  text-align: center;
}

.team-members {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten */
  justify-content: space-around; /* Espaciado alrededor */
  margin-top: 20px;
}

.team-member {
  text-align: center;
  margin: 10px; /* Espacio entre los miembros */
  flex: 1 0 200px; /* Tamaño base y flexibilidad */
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid #e5652d; /* Borde circular */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.team-member h3 {
  margin-top: 15px;
  color: #333;
}

.team-member p {
  font-size: 16px;
  color: #777;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Apilar enlaces en móvil */
    align-items: center; /* Centrar elementos del navbar */
  }

  .navbar-links {
    flex-direction: column; /* Enlaces apilados */
    gap: 10px; /* Espacio entre enlaces */
  }

  .about-container {
    width: 95%; /* Aumentar el ancho en móviles */
    padding: 15px; /* Reducir el padding */
  }

  .about-container h1 {
    font-size: 1.8em; /* Tamaño de fuente más pequeño */
  }

  .team-members {
    flex-direction: column; /* Apilar los miembros en columna */
    align-items: center; /* Centra los elementos */
  }

  .team-member {
    margin-bottom: 20px; /* Espacio adicional en móviles */
    width: 100%; /* Ocupa el ancho completo en móviles */
    max-width: 300px; /* Máximo ancho en móviles */
  }
}

/* Estilos para tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
  .team-member {
    flex: 1 1 45%; /* Dos miembros por fila */
  }
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1025px) {
  .team-member {
    flex: 1 1 20%; /* Hasta cinco miembros por fila */
  }
}
