/* AuthStyles.css */

/* Estilos del Navbar */
.navbar {
    background-color: #E5652D; /* Color de fondo para la navbar */
    padding: 10px 20px; /* Espaciado */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo {
    color: white; /* Color del logotipo */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaciado entre enlaces */
  }
  
  .nav-links a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
  }
  
  /* Estilos generales */
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Ocupa toda la altura de la ventana menos la altura del navbar */
    background-image: url('../assets/image.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  
  
  .auth-card {
    background-color: white; /* Fondo blanco para el recuadro */
    padding: 30px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    width: 300px; /* Ancho del recuadro */
    text-align: center; /* Centrar el texto */
    transition: transform 0.3s; /* Transición para el hover */
  }
  
  .auth-card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  }
  
  /* Estilos de título */
  h2 {
    margin-bottom: 20px;
    color: #E5652D;
    font-size: 24px; /* Tamaño de fuente más grande */
  }
  
  /* Estilos de los inputs */
  .form-group {
    margin-bottom: 15px; /* Espaciado entre los grupos de formulario */
  }
  
  .form-input {
    width: 100%; /* Ancho completo */
    padding: 10px;
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    transition: border-color 0.3s; /* Transición de color de borde */
  }
  
  .form-input:focus {
    border-color: #E5652D; /* Color del borde en foco */
    outline: none; /* Sin contorno */
  }
  
  /* Estilos del botón */
  .btn-primary {
    background-color: #ffcf2b; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar */
    transition: background-color 0.3s; /* Transición de color de fondo */
  }
  
  .btn-primary:hover {
    background-color: #ffcf2b; /* Color más oscuro al pasar */
  }
  
  /* Estilo del enlace de registro */
  p {
    margin-top: 15px; /* Espaciado superior */
  }
  
  p a {
    color: #E5652D; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
  }
  
  p a:hover {
    text-decoration: underline; /* Subrayar al pasar */
  }
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  