.background-div {
  position: relative;
  background-image: url('../assets/fondo.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}

.gestionar-pedidos-container {
  position: relative;
  background-color: white; /* Fondo blanco sólido */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin: 50px auto; /* Centrar el contenedor */
  max-width: 600px; /* Ancho máximo del contenedor */
  z-index: 2; /* Asegurarse de que esté por encima del fondo */
}

.pedidos-list {
  list-style: none;
  padding: 0;
}

.pedido-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.productos-list {
  list-style: none;
  padding: 0;
}

.producto-item {
  margin: 5px 0;
}

.estado-buttons {
  margin-top: 10px;
}

.btn-estado {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-estado.empaquetado {
  background-color: #ffc107; /* Amarillo */
  color: white;
}

.btn-estado.enviado {
  background-color: #28a745; /* Verde */
  color: white;
}

.btn-estado:hover {
  opacity: 0.8; /* Efecto de hover */
}
