.navbar {
    display: flex;
    justify-content: space-between; /* Espacio entre logo y menú */
    align-items: center;
    padding: 10px 20px;
    position: relative; /* Asegura que los elementos hijos puedan usar z-index */
    background-color: #fff; /* Color de fondo de la navbar */
}

.logo {
    font-size: 24px; /* Tamaño de fuente para el logo */
    color: black; /* Color del texto del logo */
    margin-right: auto; /* Asegura que el logo se mantenga a la izquierda */
}

.menu-toggle {
    cursor: pointer;
    display: block; /* Muestra el menú hamburguesa */
    color: white; /* Color del ícono de hamburguesa */
    font-size: 24px; /* Tamaño del ícono de hamburguesa */
    margin-left: auto; /* Asegura que el ícono de hamburguesa esté al final */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links.mobile {
    display: none; /* Oculta los enlaces por defecto en móviles */
}

.nav-links.open.mobile {
    display: block; /* Muestra los enlaces cuando el menú está abierto en móviles */
    position: absolute; /* Permite que el menú se desplace sobre otros elementos */
    background-color: #E5652D; /* Fondo naranja */
    width: 100%; /* Ocupa el ancho completo */
    top: 50px; /* Ajusta según la altura de tu navbar */
    left: 0;
    z-index: 1000; /* Asegura que el menú esté delante de otros elementos */
    padding: 10px 0; /* Espaciado superior e inferior */
}

.nav-links.open.mobile li {
    padding: 10px 20px; /* Espaciado dentro de cada opción */
}

.nav-links.open.mobile li a {
    color: white; /* Texto blanco */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Hace que el área de clic sea más grande */
}

.nav-links.desktop {
    display: flex; /* Muestra los enlaces en escritorio */
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Muestra el menú hamburguesa en móviles */
    }

    .nav-links.desktop {
        display: none; /* Oculta los enlaces en móviles */
    }
}
