.background-div {
    position: relative;
    background-image: url('../assets/fondo.png');
    background-repeat: no-repeat; /* Cambia a no-repeat para evitar el patrón */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    min-height: 100vh; /* Asegura que la altura mínima sea 100vh */
    width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
}

.background-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 191, 96, 0.5);
    z-index: 1;
}

.title-box {
    margin: 20px 0;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.two-column-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form-actions {
    grid-column: span 2; /* Asegura que el botón esté centrado */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
