.background-div {
    position: relative;
    background-image: url('../assets/fondo.png');
    background-repeat: no-repeat; /* Cambia a no-repeat para evitar el patrón */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    min-height: 100vh; /* Asegura que la altura mínima sea 100vh */
    width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
}


.background-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 191, 96, 0.5);
    z-index: 1;
}

.form-container {
    max-width: 600px;
    margin: auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row label {
    flex: 1;
    margin-right: 10px;
}

.form-row label:last-child {
    margin-right: 0;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px; /* Ancho máximo del formulario */
    width: 100%; /* Permite que el formulario use el ancho completo disponible */
    margin: auto; /* Centra el formulario en el contenedor */
}

label {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.title-box {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
}
