.register-container {
    padding: 20px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .employee-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .employee-table th,
  .employee-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .employee-table th {
    background-color: #f2f2f2;
  }
  
  .employee-item {
    display: flex;
    justify-content: space-between;
  }
  
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .input-field {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Margen vertical */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
  }
  
  /* Estilo adicional para el botón */
  button {
    padding: 10px; /* Espaciado interno */
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 10px; /* Margen superior */
    width: 100%; /* El botón ocupa el 100% del ancho */
  }
  
  button:hover {
    background-color: #45a049; /* Color de fondo más oscuro al pasar el mouse */
  }
  